body{
    background-color:rgb(52, 59, 56);  
    display: inline;  
    }  
    form {
      width: 90%;
      max-width: 500px;
      margin: auto;
      padding: 20px;
      box-sizing: border-box;
      background-color: #ffffffcc;
      border-radius: 10px;
    }
    
    h1{
        color: aliceblue;
    }
    
    button {
      padding: 10px 20px;
      margin-top: 10px;
      border-radius: 5px;
      border: none;
      background-color: #007acc;
      color: white;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #005f99;
    }
    
    @media screen and (max-width: 600px) {
      h1 {
        font-size: 24px;
      }
    
      form {
        padding: 10px;
      }
    
      input,
      select,
      textarea {
        font-size: 14px;
      }
    
      button {
        width: 100%;
        margin-top: 10px;
      }
    }